@import "tailwindcss";

:root {
  --background: #FFDE7C;
  --foreground: #0f0f2d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-vazirmatn);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-vazirmatn), sans-serif;
}

.font-viga {
  font-family: var(--font-viga), sans-serif;
}

.font-vazirmatn {
  font-family: var(--font-vazirmatn), sans-serif;
}
